body {
  background-color: lightsteelblue;
}

hr {
  width: 90vw;
  border-color: blanchedalmond;
  color: blanchedalmond;
}

h1,
h3 {
  color: darkcyan;
}

img {
  border: 2px blanchedalmond solid;
  border-radius: 50%;
}

ul,
ol,
h1,
h3,
table,
form,
p {
  margin-left: 25px;
}

footer {
  text-align: center;
}

a {
  padding: 10px;
}
