<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./icons/favicon.ico" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    />

    <link rel="stylesheet" href="static/style.css" />
    <title>Dave B</title>
  </head>
  <body>
    <header>
      <div>
        <h1 class="header">Hi, I'm Dave</h1>
        <p class="header">
          <em
            >Network & Security Enginner and Full Stack Developer
            <!-- <a href="https://github.com/dbeidle">GitHub</a> -->
          </em>
        </p>
      </div>
    </header>
    <div class="middle-container">
      <div class="profile">
        <img src="static/circle-dave.png" alt="Photo of Dave" />
        <h2>Who am I?</h2>
        <p>
          I am a Network & Security Enginner with a focus now on Full Stack
          Development. I have been in Networking for over 15 years and with the
          tides moving towards Network Automation, I see that the need for Full
          Stack Development in this space thus it is where I am focusing my
          current development projects.
        </p>
      </div>
      <hr />
      <div class="skills">
        <h2>My Skills.</h2>
        <div class="skill-row">
          <img class="" src="" alt="" />
          <h3>Lorem & Ipsum</h3>
          <p>
            Lorem ipsum dolor sit amet, quis in duis, iaculis id felis.
            Consectetuer vestibulum, nunc urna lectus, erat ligula. Hendrerit
            nam, lectus ante, ut lorem eros.
          </p>
        </div>
        <div class="skill-row">
          <img class="" src="" alt="" />
          <h3>Lorem Ipsum Dolor</h3>
          <p>
            Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu,
            bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel
            eu, rutrum nam.
          </p>
        </div>
      </div>
      <hr />
      <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>Lorem ipsum dolor sit amet, non elit.</h3>
        <p>
          Lorem ipsum dolor sit amet, in quis, aenean amet. Phasellus sodales,
          tellus donec dui, ornare erat.
        </p>
        <a class="btn" href="mailto:name@email.com">CONTACT ME</a>
      </div>
    </div>

    <footer>
      <hr />
      <div class="bottom-container">
        <span>
          <a href="https://www.linkedin.com/in/david-beidle/">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://twitter.com/lifeofdave/">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://github.com/dbeidle/">
            <i class="fab fa-github"></i>
          </a>
        </span>
        <p>© 2021 Dave Beidle.</p>
      </div>
    </footer>
  </body>
</html>
