{% extends 'bootstrap/base.html' %}

{% block styles %}

{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}


{% block title %}Coffee and Wifi{% endblock %}


{% block content %}
<div class="jumbotron text-center">
    <div class="container">
  <h1 class="display-4">📅  To-Dos ⏰</h1>
  <p class="lead">Have stuff to do? Get a reminder here.</p>
  <hr class="my-4">
  <p>This is my ToDos app. have fun.. </p>
  <a class="btn btn-warning btn-lg" href="{{ url_for('todos') }}" role="button">Show Me!</a>
</div>
    </div>

{% endblock %}
